* {
  margin: 0;
  font-family: 'Tinos', serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.home-background, .page-background {
  height: 100%;
  min-height: 100vh;
}

.home-background {
  background: repeating-linear-gradient(#500909 0%, #9A9004 100vh, #FFFFFF 200vh, #500909 300vh);
}

.page-background {
  background: linear-gradient(#9A9004 0%, #FFFFFF 100%);
}
